<li id="miniposts">
    <%#= link_to gravatar_for(mini_post.author, size: 50), mini_post.user %>
    <span class="user"><%= link_to "By #{mini_post.author.first_name}", mini_post.author %><br>
    <%= link_to "Post", user_post_path(mini_post.author, mini_post) %></span>
    <span class="content">
        <%= mini_post.content %><br>
        <%= pluralize(mini_post.likes.count, 'like') %>
    </span>
    <span class="timestamp">
        Posted <%= time_ago_in_words(mini_post.created_at) %> ago.
        <% if current_user == (mini_post.author) %>
            <%= link_to "delete", mini_post, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
    </span>
</li>