<% fullname = "#{@user.first_name}" + " #{@user.last_name}" %>
<% provide(:title, "Post for #{fullname}") %>
<h1>Post <%= @post.id %> for <%= fullname %>:</h1>



<%= @post.content %>
<div id="like_form">
  <%= render 'posts/like_form' %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="page-header">Comments</h2>
        <section class="comment-list">
            <% if @post.comments.any? %>
                <% @post.comments.each do |comment| %>
                    <article class="row">
                        <div class="col-md-2 col-sm-2 hidden-xs">
                          <figure class="thumbnail">
                            <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                            <figcaption class="text-center"><%= comment.author.first_name %></figcaption>
                          </figure>
                        </div>
                        <div class="col-md-10 col-sm-10">
                          <div class="panel panel-default arrow left">
                            <div class="panel-body">
                              <header class="text-left">
                                <time class="comment-date" datetime="#{comment.created_at}"><i class="fa fa-clock-o"></i> <%= comment.created_at %></time>
                              </header>
                              <div class="comment-post">
                                <p><%= comment.content %></p>
                              </div>
                              <%#= <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p> %>
                            </div>
                          </div>
                        </div>
                      </article>
                    <% end %>
                <% end %>
                <%= render 'comments/form', locals: {post: @post} %>
            </section>
        </div>
    </div>
</div>